## [RQ4] In most cases, we will not have a consistent dataset, and the one we are dealing with is not an exception (ex. in the given datasets, you may not find the information of the profiles for some of the posts). So letâ€™s enhance our analysis.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
posts = pd.read_feather("sample.fea")
locations = pd.read_csv("instagram_locations.csv",delimiter="\t")
profiles = pd.read_csv("instagram_profiles.csv",delimiter="\t")

In [3]:
posts.description.fillna("",inplace=True)
posts.profile_id.fillna(0,inplace=True)
posts.location_id.fillna(0,inplace=True)
posts.cts.fillna("",inplace=True)
posts.numbr_likes.fillna(0,inplace=True)
posts.number_comments.fillna(0,inplace=True)

In [4]:
profiles.following.fillna(0,inplace=True)
profiles.followers.fillna(0,inplace=True)
profiles.n_posts.fillna(0,inplace=True)
profiles.description.fillna("",inplace=True)
profiles.firstname_lastname.fillna("",inplace=True)
profiles.url.fillna("",inplace=True)
profiles.cts.fillna("",inplace=True)
profiles.is_business_account.fillna(False,inplace=True)
profiles.profile_id.fillna(0,inplace=True)

In [5]:
#locations.following.fillna(0,inplace=True)
#locations.followers.fillna(0,inplace=True)
#locations.n_posts.fillna(0,inplace=True)
#locations.description.fillna("",inplace=True)
#locations.firstname_lastname.fillna("",inplace=True)
#locations.url.fillna("",inplace=True)
#locations.is_business_account.fillna(False,inplace=True)
#locations.profile_id.fillna(0,inplace=True)

### 4.1 Write a function that, given a profile_id, will be able to return the posts that belong to the given profile_id.

In this function we need to pass the profile_id of a profile and it will return a dataframe with all the posts published by this user.  
There is also an example in the next cell

In [33]:
def return_posts(profile_id):
    posts_of_profile = posts[posts["profile_id"]==profile_id]
    return posts_of_profile

### Test

In [7]:
posts.iloc[6888,:]["profile_id"]

11357330613.0

In [8]:
display(return_posts(11357330613.0))

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
6888,40756453,4089853,ByumbfphdR2,1.135733e+10,0.0,2019-06-15 13:06:49.000,1,Do you like our new bathmat\n#cockapoosofinsta...,49.0,1.0
1089901,40756456,4089853,BxnSSCVh-RD,1.135733e+10,228607911.0,2019-05-18 20:24:41.000,1,Next walk organised in collaboration with Ches...,30.0,2.0
3518318,40756455,4089853,BxosvS6B4k7,1.135733e+10,786595292.0,2019-05-19 09:35:07.000,1,Having a great time at the Tatton walk yesterd...,68.0,3.0

### 4.2 Write another function that, given an input n (an integer), will return the posts that belong to the n top posted profiles (top n profiles that have posted the highest number of posts) that their data is available in the profile.csv using the previously written function.

In [24]:
def top_n_users(n):
    index = set()
    top_n_profiles = profiles.sort_values(by=['n_posts'], ascending = False).head(n)
    for i in range(n):
        index.add(top_n_profiles.iloc[i,:]["profile_id"])
    new_dataset = posts[posts["profile_id"].isin(index)]
    return new_dataset.sort_values(by="profile_id",ascending=False)

### Test

In [35]:
print("An example with the top 4 profiles:")
top_n_users(4)

An example with the top 4 profiles:

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
1815181,11234220,3970193,BpfufadAl1f,1.273455e+09,3.786337e+08,2018-10-29 00:46:06.000,1,,3.0,0.0
378273,37701783,3661552,BzRkojLJBMQ,1.996648e+08,0.000000e+00,2019-06-29 03:04:33.000,1,,10.0,0.0
694159,28243843,3661552,Bq_MiKhhP05,1.996648e+08,2.807740e+08,2018-12-05 02:36:28.000,1,,3.0,0.0
1487769,37701690,3661552,BzUmhW0pjrN,1.996648e+08,0.000000e+00,2019-06-30 07:18:46.000,1,,2.0,0.0
2604542,24906254,3661552,BCqCe9LypeF,1.996648e+08,1.029569e+09,2016-03-07 16:28:50.000,1,#ØªØµÙˆÙŠØ±ÙŠ,27.0,0.0
3729520,25468626,3661552,20Wu4zypd2,1.996648e+08,2.373984e+08,2015-05-18 11:21:27.000,1,#ØªØµÙˆÙŠØ±ÙŠ,28.0,0.0
850982,16085233,3621669,BGjtWmjttS1,9.813508e+06,2.381570e+06,2016-06-12 16:34:20.000,2,,0.0,0.0
3040433,37420360,3621669,BzMjJ57AeiI,9.813508e+06,0.000000e+00,2019-06-27 04:15:25.000,1,,0.0,0.0
3297571,32608362,3621669,BwkAH07AXac,9.813508e+06,1.892007e+14,2019-04-22 17:16:53.000,1,,0.0,0.0

In [32]:
#This function gives a better visualization but the one before is very useful for the next exercise
#def top_n_users2(n):
#    top_n_profiles = profiles.sort_values(by=['n_posts'], ascending = False).head(n)
#   for i in range(n):
#        display(return_posts(top_n_profiles.iloc[i,:]["profile_id"]))
    
#    return

### 4.3 What is the average number of "likes" and comments of the top 10 profiles with the highest number of posts which their information is available in profile.csv?

In [26]:
top_n_users(10)["numbr_likes"].mean()

4.425

In [30]:
top_n_users(10)["number_comments"].mean()

0.025

### 4.4 Plot the number of posts that these top 10 profiles have sent on Instagram in the given interval in question RQ3. Interpret the resulting chart.